body {
    margin: 0; overflow: hidden;
}

.container {
    width: 63vw;
    height: 41.5vw;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    background-color: lightgray;
}

text {
    user-select: none;
    pointer-events: none;
}

svg:hover {
    cursor: pointer;
}