body {
    margin: 0; overflow: hidden;
}

.container {
    width: 90vw;
    height: 75vh;
    border: 4px solid black;
    background-color: lightgray;
}

text {
    user-select: none;
    pointer-events: none;
}

svg:hover {
    cursor: pointer;
}