body {
    margin: 0; overflow: hidden;
}

.container {
    position: relative;
    width: 63vw;
    height: 41.5vw;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    background-color: lightgray;
}

text {
    user-select: none;
    pointer-events: none;
}

svg:hover {
    cursor: pointer;
}

a:focus {
    background-color: orange;
}

rect{
    stroke-width: 2;
}

rect:hover{
    stroke-width: 7;
}


/*Test popup*/
 /* Popup bakgrunn */
 .popup-wrapper {
    display: none;  /* Skjuler popupen som standard */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Innholdet i popup-boksen */
.popup-container {
    background-color: white;
    padding: 20px;
    text-align: center;
    width: 300px;
}

/* Lukkeknapp */
.close-btn {
    padding: 10px 20px;
    cursor: pointer;
}